################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################
/.vs
/bin
/Balonek.Office/.vs
/Balonek.Office/bin
/Balonek.Office/obj
/Balonek.Utils/.vs
/Balonek.Utils/bin
/Balonek.Utils/obj
/Balonek.Logging/.vs
/Balonek.Logging/obj
/Balonek.Logging/bin
Bin
/Bin
/Bin/Debug
